{% extends 'base.html' %} {% load staticfiles %} {% block contents %}
<section class="section_padding_top_100 section_padding_bottom_100 height-100">
    <div class='head-contents'>
        <div class="container">
            <div class='row'>
                <!--회원 정보 시작-->
                <div class="col-md-3">
                    <div class='profile'>
                        {% if user.is_authenticated %}
             
                        <img src="{{assets.image.url}}" alt="프로필" class="img-circle"> <br>
                       
                        {{user.username}} 님 <br>
                        <a class="info" href="{% url 'login' %}">내 정보</a>
                        <a class="info" href="{% url 'logout' %}">로그아웃</a>
                        {% else %}
                        <img src="{% static 'board/img/user.png'%}" alt="오류" class="img-circle"> <br>
                        
                        <img src="" alt="" class="img-circle"> <br>
                        <a class="info" href="{% url 'login' %}">로그인</a>
                        <a class="info" href="{% url 'signup' %}">회원가입</a>
                        {% endif %} 
                    </div>
                </div>
                <!--회원 정보 종료-->

                <!--검색창 시작-->
                <div class=" col-md-9">
                    <form class="form-inline my-2 my-lg-0 search-input" action="{% url 'search' %}">
                        <div class="input-group">
                            <select class="custom-select" name="search_filter" id="inputGroupSelect04" aria-label="Example select with button addon">
                                <option value="title">Title</option>
                                <option value="body">Body</option>
                            </select>
                            <input type="text" name="q" class='form-control'>
                            <div class="input-group-append">
                                <button class="btn btn-outline-success" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!--검색창 종료-->
            </div>
            <!--row-->
        </div>
        <!--container-->
    </div>

        <div class="container">
            <div class='row'>
                <div class="col-3 md-3">
                    <div class="container">
                    <a href='' class='clickbox'>
                        <img class="image" src="{% static 'board/img/politics.png'%}">
                        <span>정치</span>
                    </a>
                    </div>
                </div>
                <!--콘텐츠 시작-->
                <div class='col-9 md-9'>
                    <div class="content-detail row">
                        <div class='content'>
                            {% for blog in posts %}
                                <div class="col-md-12">
                                    <div class='card shadow-sm'>
                                        <img src="{{ blog.image.url }}" width="100%" />
                                        <span class="card-body">
                                            <p class="card-text">제목:{{ blog.title }}</p>
                                            <p class="card-text">내용:{{ blog.summary }}</p>
                                            <span class="d-flex justify-content-between align-items-center">
                                                <span class="btn-group">
                                                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'detail' blog.id %}">View</a>
                                                </span>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <!--<div class="container">
                            {% if posts.has_previous %}
                            <a href="?page=1" class="btn btn-dark">First</a>
                            <a href="{% url 'home'%}" class="btn btn-primary">Previous</a>
                            {% endif %}

                            <span>{{ posts.number }}</span>
                            <span>of</span>
                            <span>{{ posts.paginator.num_pages }}</span>

                            {% if posts.has_next %}
                            <a
                                href="?page={{ posts.next_page_number }}"
                                class="btn btn-primary">Next</a>
                            <a
                                href="?page={{ posts.paginator.num_pages }}"
                                class="btn btn-dark"
                                >Last</a>
                            {% endif %}
                        </div>-->
                    </div>
                </div>
            </div>  
        </div>
    </div>
</section>

{% endblock %}
