{% extends 'base.html' %} {% load staticfiles %} {% block contents %}
    {% for blog in posts %}
        <div class="col-md-6">
                <a href="{% url 'detail' blog.id %}">
            <div class='main-content' style="background-image: url( {{ blog.image.url }} ); background-size: cover;">
                <div class= 'media-content'>
                </div>
                <div style="    padding-top: 10px;
                display: inline;
                position: sticky;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;">
                    <h2 style="    font-weight: 800;
                    color: white;

                    text-shadow: 1px 1px 3px black;">{{ blog.title }}</h2>
                </div>
            </div>
            </a>
        </div> 


    {% endfor %}

{% endblock %}
